table {
  width: 800px;
}

.edit-raw {
  position: absolute;
  height: 40px;
  padding: 20px;
  width: 700px;
  background-color: aqua;
}

.highlighted {
  background-color: cadetblue;
}

.delete-btn {
  padding: 5px 10px;
  color: brown;
  margin-top: 15px;
}
.warning {
  color: red;
}
